/* Общие */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #38bdf8;
    --main-color-semi: #7dd3fc;
    --main-color-middle: #bae6fd;
    --main-color-light: #e0f2fe;
    --main-color-elight: #f0f9ff;
    --secondary: #0c4a6e;
    --secondary-semi: #075985;
    --secondary-middle: #0369a1;
    --secondary-light: #0284c7;
    --secondary-elight: #0ea5e9;
    --dark: #171717;
    --dark-semi: #262626;
    --dark-middle: #404040;
    --dark-light: #525252;
    --dark-elight: #737373;
    --grey: #a3a3a3;
    --grey-semi: #d4d4d4;
    --grey-middle: #e5e5e5;
    --grey-light: #f5f5f5;
    --grey-elight: #fafafa;
    --white: #ffffff;
    --gap-menu: 47px;
    --gap-services: 50px;
    --gap-reviews: 20px;
    --shadow: rgba(115, 115, 115, 0.25);
    --gap-maps: 23px;
    --gap-icon: 10px;
    --gap-doctors-card: 20px;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a, .link-logo {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--main-color-middle);
}

.link-logo:hover {
    color: var(--white);
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

.container-header {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container-header {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-header {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-header {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container-header {
        max-width: calc(100% - 20px);
    }
}

.container-footer {
    padding-bottom: 0px;
    padding-top: 0px;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

.btn {
    background-color: var(--secondary-elight);
    border: none;
    border-radius: 10px;
    color: var(--main-color-elight);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 60px 14px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: fit-content; 
}

@media (max-width: 600px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 40px 14px 40px; 
    }
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 59px;
    color: var(--dark-semi);
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
        line-height: 29px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 39px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 46px;
        line-height: 49px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
}


h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: var(--secondary-middle);
    padding-bottom: 40px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 36px;
        line-height: 34px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 38px;
        line-height: 34px;
    }
}


/* header */

.section-background {
    background-color: var(--secondary-light);
}

.section-header {
    position: sticky ;
    top:0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: var(--white);
}

@media (max-width: 600px) {
    .logo {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .logo {
        font-size: 20px;
        line-height: 30px;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .navigation {
        display: none;
    }
}

.nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    list-style: none;
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-item {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        font-size: 18px;
        line-height: 28px;
    }
}

.nav-list {
    display: flex;
    gap: var(--gap-menu);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-list {
        display: flex;
        gap: 20px;
    }
}

/* Гамбургер меню для мобильной версии */

.hamburger-menu {
    display: none;
}

.hamburger-line {
    /* display: flex;
    justify-content: end; */
    width: 24px;
    height: 1px;
    background: var(--white);
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
    }
}

/* Специалисты клиники */

.about-doctors {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}

@media (max-width: 600px) {
    .about-doctors {
        width: 90%;
        padding-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-doctors {
        width: 90%;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-doctors {
        width: 90%;
        padding-bottom: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .about-doctors {
        width: 90%;
        padding-bottom: 50px;
    }
}

.text-doctors {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: var(--dark-elight);
}

@media (max-width: 600px) {
    .text-doctors {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-doctors {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-doctors {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .text-doctors {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 60px;
    }
}

.search-doctors {
    background: var(--main-color-light);
    border: 1px solid var(--main-color-middle);
    border-radius: 20px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
/* 
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    align-items: center;

    font-weight: 400;
    font-size: 19px;
    line-height: 38px;
    color: var(--grey); */
}

.search-doctors:hover {
    border: 1px solid var(--secondary-elight);
}

/* .search-doctors:focus-visible {
    border: 1px solid var(--secondary-elight);
} */

@media (max-width: 600px) {
    .search-doctors {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .search-doctors {
        width: 100%;
    }
}

.search {
    position: relative;

}

.search-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    align-items: center;

    /* position: absolute; */
}

.search-item::before {
    content: "";
}

.search-icon {
    color: var(--grey);
}

.delimiter {
    width: 2px;
    height: 25px;
    background: var(--grey);
}

.text-search-line {
    font-weight: 400;
    font-size: 19px;
    line-height: 38px;
    color: var(--grey);
}

@media (max-width: 600px) {
    .text-search-line {
        font-size: 15px;
        line-height: 29px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-search-line {
        font-size: 15px;
        line-height: 29px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-search-line {
        font-size: 17px;
        line-height: 34px;
    }
}

/* Доктора */

.cards-doctors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-doctors-card); 
    justify-content: center;
}

@media (max-width: 600px) {
    .cards-doctors-list {
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .cards-doctors-list {
        justify-content: center;
    }
}

.cards-doctors-item {
    width: calc((100% - var(--gap-doctors-card)*2)/3);
}

@media (max-width: 600px) {
    .cards-doctors-item {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .cards-doctors-item {
        width: calc((100% - var(--gap-doctors-card)*1)/2);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cards-doctors-item {
        width: calc((100% - var(--gap-doctors-card)*1)/2);
    }
}

.cards-doctors-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.foto-doctor {
    box-shadow: 2px 2px 4px rgba(115, 115, 115, 0.25);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.img-doctor {
    width: 100%;
    /* height: 100%; */
    object-position: center;
    object-fit: cover;
}

.doctors-data {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.full-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: var(--dark-middle);
    text-align: center;
}

@media (max-width: 600px) {
    .full-name {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .full-name {
        font-size: 16px;
        line-height: 24px;
    }
}

.job-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: var(--dark-middle);
    text-align: center;
}

@media (max-width: 600px) {
    .job-title {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .job-title {
        font-size: 16px;
        line-height: 24px;
    }
}

.btn-cards-doctors {
    background-color: var(--white);
    border: 1px solid var(--secondary-light); 
    color: var(--secondary-light);
    box-shadow: none;

    background-image: linear-gradient(45deg, var(--secondary-light) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 250ms ease-in-out;
}

.btn-cards-doctors:hover {
    background-position: 0;
    color: var(--white);
    cursor: pointer;
}

/* Footer */

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

@media (max-width: 600px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

.footer-about {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
    width: 40%;
}

@media (max-width: 600px) {
    .footer-about {
        font-size: 16px;
        width: 100%;
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-about {
        font-size: 16px;
        width: 100%;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-about {
        width: 100%;
        padding-bottom: 20px;
    }
}

.network {
    display: flex;
    gap: 5px;
}

.text-network {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .text-network {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-network {
        font-size: 16px;
        line-height: 20px;
    }
}

.facebook-icon {
    width: 27px;
    height: 27px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

.title-contacts {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.text-contacts {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .text-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

.description-contacts {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .description-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .description-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

.contacts-mail {
    font-weight: 300;
}

.license {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 50px;
    align-items: center;
}

@media (min-width: 600px) and (max-width: 768px) {
    .license {
        justify-content: start;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .license {
        justify-content: start;
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .license {
        padding-bottom: 30px;
    }
}

.license-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .license-text {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .license-text {
        font-size: 15px;
        line-height: 19px;
    }
}

.limiter {
    width: 1px;
    height: 24px;
    background: var(--secondary-semi);
}

@media (max-width: 600px) {
    .limiter {
        height: 19px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .limiter {
        height: 19px;
    }
}