/* Общие */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #38bdf8;
    --main-color-semi: #7dd3fc;
    --main-color-middle: #bae6fd;
    --main-color-light: #e0f2fe;
    --main-color-elight: #f0f9ff;
    --secondary: #0c4a6e;
    --secondary-semi: #075985;
    --secondary-middle: #0369a1;
    --secondary-light: #0284c7;
    --secondary-elight: #0ea5e9;
    --text: #0B4269;
    --price-background: #F0F9FF;
    --accent-green: #26992A;
    --dark: #171717;
    --dark-semi: #262626;
    --dark-middle: #404040;
    --dark-light: #525252;
    --dark-elight: #737373;
    --grey: #a3a3a3;
    --grey-semi: #d4d4d4;
    --grey-middle: #e5e5e5;
    --grey-light: #f5f5f5;
    --grey-elight: #fafafa;
    --white: #ffffff;
    --gap-menu: 47px;
    --gap-services: 50px;
    --gap-reviews: 20px;
    --shadow: rgba(115, 115, 115, 0.25);
    --gap-maps: 23px;
    --gap-icon: 10px;
}

@media (max-width: 600px) {
    :root {
        --gap-services: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    :root {
        --gap-services: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --gap-services: 40px;
    }
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a, .link-logo {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--main-color-middle);
}

.link-logo:hover {
    color: var(--white);
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

.container-header {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container-header {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-header {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-header {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container-header {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-container {
    padding: 0px;
}

.btn {
    background-color: var(--secondary-elight);
    border: none;
    border-radius: 10px;
    color: var(--main-color-elight);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 60px 14px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: fit-content; 
}

.btn:hover {
    background-color: var(--secondary-middle);
    cursor: pointer;
    transition: background-color 300ms linear; 
}

@media (max-width: 600px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 40px 14px 40px; 
    }
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 59px;
    color: var(--dark-semi);
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
        line-height: 29px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 39px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 46px;
        line-height: 49px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: var(--secondary-middle);
    padding-bottom: 40px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    h2 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 36px;
        line-height: 34px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 38px;
        line-height: 34px;
    }
}

/* header */

.section-background {
    background-color: var(--secondary-light);
}

.section-header {
    position: sticky ;
    top:0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: var(--white);
}

@media (max-width: 600px) {
    .logo {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .logo {
        font-size: 20px;
        line-height: 30px;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .navigation {
        display: none;
    }
}

.nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    list-style: none;
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-item {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        font-size: 18px;
        line-height: 28px;
    }
}

.nav-list {
    display: flex;
    gap: var(--gap-menu);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-list {
        display: flex;
        gap: 20px;
    }
}

/* Гамбургер меню для мобильной версии */

.hamburger-menu {
    display: none;
}

.hamburger-line {
    /* display: flex;
    justify-content: end; */
    width: 24px;
    height: 1px;
    background: var(--white);
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
    }
}

/* hero-block */

.hero-img {
    background-image: url('/images/hero.png');
    background-size: cover;
    background-position: top;
}

/* @media (max-width: 600px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
} */

.hero-content {
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 140px;
}

@media (max-width: 600px) {
    .hero-content {
        width: 90%;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-content {
        width: 90%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-content {
        width: 90%;
        padding-bottom: 70px;
        padding-top: 70px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-content {
        width: 50%;
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

.hero-title {
    color: var(--dark-semi);
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .hero-title {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-title {
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-title {
        padding-bottom: 40px;
    }
}

.accent-text {
    color: var(--secondary-light);
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--secondary);
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .hero-description {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-description {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-description {
        padding-bottom: 40px;
    }
}

/* Лечение кариеса */

.title-treatment {
    text-align: left;
    /* padding-bottom: 40px; */
}

.description-treatment {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

@media (max-width: 600px) {
    .description-treatment {
        flex-direction: column;
    }
}

.text-treatment {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--text); 
}

@media (max-width: 600px) {
    .text-treatment {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-treatment {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-treatment {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .text-treatment {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 60px;
    }
}

.img-treatment {
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(115, 115, 115, 0.25);
    background: linear-gradient(0deg, rgba(2, 132, 199, 0.1), rgba(2, 132, 199, 0.1)), url(/images/patient.png);
    object-fit: cover;
}

@media (max-width: 600px) {
    .img-treatment {
        width: 100%;
    }
}

/* Цены на услуги */

.section-price {
    padding-top: 0px;
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price-item {
    padding: 26px 40px;
    border-radius: 30px;
}

.group-blue {
    background: var(--price-background);
}

.group-green {
    background: var(--main-color-light);
}

.text-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: var(--secondary-semi); 
    gap: 5px;
}

@media (max-width: 600px) {
    .text-price {
        font-size: 14px;
        line-height: 17px;
        gap: 7px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-price {
        font-size: 16px;
        line-height: 21px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-price {
        font-size: 18px;
        line-height: 25px;
        gap: 7px;
    }
}

.blue-accent {
    color: var(--secondary-elight);
}

.green-accent {
    color: var(--accent-green);
}

/* Услуги */

.container-carousel {
    padding: 0px;
}

.wrapper {
    position: relative;

    z-index: 0;
}

.icon-carusel {
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: var(--secondary-middle);
    background: var(--main-color-light);
    border: 1px solid var(--main-color-light);
    border-radius: 50%;

    position: absolute;
    top: 45%;
}

.icon-carusel:hover {
    color: var(--white);
    background: var(--secondary-light);
    border: 1px solid var(--white);
    transition: all 300ms linear;
}

.icon-carusel:first-child {
    left: 0px;
}

.icon-carusel:last-child {
    right: 0px;
}

.title-services {
    padding-top: 0px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .title-services {
        padding-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-services {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-services {
        padding-bottom: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .title-services {
        padding-bottom: 40px;
    }
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 60px 0;
    margin: 0 50px;
    gap: var(--gap-services);
    
    overflow: hidden;
    /* overflow-x: scroll; */
}

@media (max-width: 600px) {
    .services-list {
        /* overflow-x: scroll;
        -ms-overflow-style: none;
        padding-bottom: 40px; */

        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
    }

    .services-list::-webkit-scrollbar {
        height: 12px;    
    }

    .services-list::-webkit-scrollbar-track {
        border-radius: 10px;
        background: var(--grey-elight);
    }

    .services-list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(90deg, var(--secondary-middle), var(--main-color));
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        width: 20%;
        border: 2px solid var(--grey-elight);
    }
    
}

/* .elem {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.elem::-webkit-scrollbar {
    width: 0;
    height: 0;
} */

.services-item {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 20px 25px 25px 20px;
    border-radius: 20px;
    min-width: calc((100% - var(--gap-services)*2)/3);
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-item:hover {
    filter: drop-shadow(0px 4px 4px rgba(31, 148, 211, 0.25));
    transition: filter 300ms linear;
}

@media screen and (max-width: 600px) {
    .services-item {
        min-width: calc(100%);

        scroll-snap-align: start;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .services-item {
        min-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .services-item {
        min-width: calc((100% - var(--gap-services)*1)/2);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .services-item {
        min-width: calc((100% - (var(--gap-services)*2))/3);
    }
}

.services-item-img {
    /* background-image: url(/images/service-3.png); */
    background-size: cover;
    background-position: top;
}
    
.img-services-2 {
    background-image: linear-gradient(90deg, rgba(80, 163, 209, 0.57) 16.34%, rgba(0, 0, 0, 0) 96.2%, rgba(4, 4, 4, 0) 96.21%, rgba(0, 0, 0, 0) 96.21%), url(/images/service-1.png);
}

.img-services-3 {
    background-image: linear-gradient(90deg, rgba(80, 163, 209, 0.57) 16.34%, rgba(0, 0, 0, 0) 96.2%, rgba(4, 4, 4, 0) 96.21%, rgba(0, 0, 0, 0) 96.21%), url(/images/service-2.png);
}

.img-services-4 {
    background-image: linear-gradient(90deg, rgba(80, 163, 209, 0.57) 16.34%, rgba(0, 0, 0, 0) 96.2%, rgba(4, 4, 4, 0) 96.21%, rgba(0, 0, 0, 0) 96.21%), url(/images/service-3.png);
}

.services-item-number {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: var(--white);
    padding-bottom: 80px;
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-item-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
    padding-right: 20px;
}

.icon-arrow {
    font-size: 24px;
}


/* Footer */

.container-footer {
    padding-bottom: 0px;
    padding-top: 0px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

@media (max-width: 600px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

.footer-about {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
    width: 40%;
}

@media (max-width: 600px) {
    .footer-about {
        font-size: 16px;
        width: 100%;
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-about {
        font-size: 16px;
        width: 100%;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-about {
        width: 100%;
        padding-bottom: 20px;
    }
}

.network {
    display: flex;
    gap: 5px;
}

.text-network {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .text-network {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-network {
        font-size: 16px;
        line-height: 20px;
    }
}

.facebook-icon {
    width: 27px;
    height: 27px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacts-list {
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacts-item {
        padding-bottom: 20px;
    }
}

.title-contacts {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.text-contacts {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .text-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

.description-contacts {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .description-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .description-contacts {
        font-size: 16px;
        line-height: 20px;
    }
}

.contacts-mail {
    font-weight: 300;
}

.license {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 50px;
    align-items: center;
}

@media (min-width: 600px) and (max-width: 768px) {
    .license {
        justify-content: start;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .license {
        justify-content: start;
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .license {
        padding-bottom: 30px;
    }
}

.license-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--secondary-semi);
}

@media (max-width: 600px) {
    .license-text {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .license-text {
        font-size: 15px;
        line-height: 19px;
    }
}

.limiter {
    width: 1px;
    height: 24px;
    background: var(--secondary-semi);
}

@media (max-width: 600px) {
    .limiter {
        height: 19px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .limiter {
        height: 19px;
    }
}