/* Общие */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #38bdf8;
    --main-color-semi: #7dd3fc;
    --main-color-middle: #bae6fd;
    --main-color-light: #e0f2fe;
    --main-color-elight: #f0f9ff;
    --secondary: #0c4a6e;
    --secondary-semi: #075985;
    --secondary-middle: #0369a1;
    --secondary-light: #0284c7;
    --secondary-elight: #0ea5e9;
    --text: #0B4269;
    --price-background: #F0F9FF;
    --accent-green: #26992A;
    --dark: #171717;
    --dark-semi: #262626;
    --dark-middle: #404040;
    --dark-light: #525252;
    --dark-elight: #737373;
    --grey: #a3a3a3;
    --grey-semi: #d4d4d4;
    --grey-middle: #e5e5e5;
    --grey-light: #f5f5f5;
    --grey-elight: #fafafa;
    --white: #ffffff;
    --gap-menu: 47px;
    --gap-services: 73px;
    --gap-reviews: 20px;
    --shadow: rgba(115, 115, 115, 0.25);
    --gap-maps: 23px;
    --gap-icon: 10px;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a, .link-logo {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--main-color-middle);
}

.link-logo:hover {
    color: var(--white);
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.container-header {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

.btn {
    background-color: var(--secondary-elight);
    border: none;
    border-radius: 10px;
    color: var(--main-color-elight);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 60px 14px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: fit-content; 
}

.btn:hover {
    background-color: var(--secondary-middle);
    cursor: pointer;
    transition: background-color 300ms linear; 
}

@media (max-width: 600px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 14px 40px 12px 40px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 40px 14px 40px; 
    }
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 59px;
    color: var(--dark-semi);
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
        line-height: 29px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 39px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 46px;
        line-height: 49px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: var(--secondary-middle);
    padding-bottom: 40px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 36px;
        line-height: 34px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 38px;
        line-height: 34px;
    }
}

/* header */

.section-background {
    background-color: var(--secondary-light);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: var(--white);
}

.nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    list-style: none;
}

.nav-list {
    display: flex;
    gap: var(--gap-menu);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-list {
        display: none;
    }
}

/* Гамбургер меню для мобильной версии */

/* .hamburger-menu {
    display: none;
}

@media (max-width: 320px) {
    .hamburger-menu {
        display: block;
    }
} */

/* hero-block */

.hero-img {
    background-image: url('/images/hero.png');
    background-size: cover;
    background-position: top;
}

/* @media (max-width: 600px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-img {
        background-position: top;
        object-fit: cover;
    }
} */

.hero-content {
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 140px;
}

@media (max-width: 600px) {
    .hero-content {
        width: 90%;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .hero-content {
        width: 90%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-content {
        width: 90%;
        padding-bottom: 70px;
        padding-top: 70px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-content {
        width: 50%;
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

.hero-title {
    color: var(--dark-semi);
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .hero-title {
        padding-bottom: 20px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .hero-title {
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-title {
        padding-bottom: 40px;
    }
}

.accent-text {
    color: var(--secondary-light);
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--secondary);
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .hero-description {
        padding-bottom: 20px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    .hero-description {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-description {
        padding-bottom: 40px;
    }
}

/* Лечение кариеса */

.title-treatment {
    text-align: left;
    /* padding-bottom: 40px; */
}

.description-treatment {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.text-treatment {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--text);

}

.img-treatment {
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(115, 115, 115, 0.25);
    background: linear-gradient(0deg, rgba(2, 132, 199, 0.1), rgba(2, 132, 199, 0.1)), url(/images/patient.png);
}

/* Цены на услуги */

.section-price {
    padding-top: 0px;
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price-item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 56px;
    border-radius: 30px;
}

.group-blue {
    background: var(--price-background);
}

.group-green {
    background: var(--main-color-light);
}

.text-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: var(--secondary-semi); 
}

.blue-accent {
    color: var(--secondary-elight);
}

.green-accent {
    color: var(--accent-green);
}


/* Footer */

.container-footer {
    padding-bottom: 0px;
    padding-top: 0px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer-about {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
    width: 40%;
}

.network {
    display: flex;
    gap: 5px;
}

.text-network {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

.facebook-icon {
    width: 27px;
    height: 27px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.title-contacts {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.text-contacts {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--secondary-semi);
}

.description-contacts {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-semi);
}

.contacts-mail {
    font-weight: 300;
}

.license {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 50px;
}

.license-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--secondary-semi);
}

.limiter {
    width: 1px;
    height: 24px;
    background: var(--secondary-semi);
}